<div class="container mt-4">

<div class="d-flex flex-column gap-3" style="max-width: 300px;">

  
    <div class="row g-3 mb-4" style="max-width: 300px;">

  <div class="col-12">
    <label class="form-label">Ingresos</label>
    <input type="number" class="form-control" [(ngModel)]="ingresos">
  </div>

  <div class="col-12">
    <label class="form-label">Ratio Deuda</label>
    <input type="number" class="form-control" [(ngModel)]="ratioDeuda">
  </div>

  <div class="col-12">
    <label class="form-label">Score Buró</label>
    <input type="number" class="form-control" [(ngModel)]="scoreBuro">
  </div>
  </div>

  <button class="btn btn-primary w-100">
      Descargar plantilla
    </button>

     <input
      type="file"
      #fileInput
      accept=".xls,.xlsx"
      hidden
      (change)="onFileSelected($event)"
    />

    <button class="btn btn-success w-100" (click)="fileInput.click()">
      Cargar archivo Excel
    </button>

    <!-- Archivo seleccionado -->
  <div class="mt-2" *ngIf="nombreArchivo">
    <strong>Archivo:</strong> {{ nombreArchivo }}
  </div>

     <button class="btn btn-warning w-100" (click)="ejecutar()">
      Ejecutar
    </button>


</div>


</div>

